<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="sidebar" class="sidebar">
        <div class="menu-item">
            <a th:href="@{/load}" data-link="true">Dashboard</a>
        </div>
        <div class="menu-item">
            <a th:href="@{/anc}" data-link="true">Category</a>
        </div>

        <div class="menu-item">
            <a th:href="@{/other-page}" data-link="true">Product</a>
        </div>

        <div class="menu-item">
            <a th:href="@{/other-page}" data-link="true">personnel management</a>
        </div>
    </div>

</div>
</body>
</html>