<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head::head"></head>
<body class="hold-transition skin-blue sidebar-mini">


<!-- Site wrapper -->
<div class="wrapper">

    <header th:replace="admin/fragments/header::header"></header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside th:replace="admin/fragments/sidebar::sidebar"></aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
            <button type="submit" class="btn btn-info btn-lg">
                <i class="bi bi-building-add"></i> Add Order
            </button>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <td>Id</td>
                    <td>User Name</td>
                    <td>Total Price</td>
                    <td>Status</td>
                    <td>CreateAt</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ord: ${ListOrderDto}">
                    <td th:text="${ord.id}"></td>
                    <td th:text="${ord.fullName}"></td>
                    <td th:text="${ord.totalPrice}"></td>
                    <td th:text="${ord.status}"></td>
                    <td th:text="${ord.createdAt}"></td>
                    <td >
<!--                        <button type="submit">Detail</button>-->
                        <a href="#" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i> Detail
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="admin/fragments/footer::footer"></footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->

<div th:replace="admin/fragments/script::script"></div>
</body>
</html>
